.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Footer {
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0px;
  padding-bottom: 0%;
  background-color: #3f51b5 ;
  text-align: center;

}

.home{
  width: 765px;
  height: 400px;


}

.homepaper{
  align-content: center;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.homegrid{
  align-content: center;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 30px;
}

.homepaper2{
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.upload{
  align-content: center;
  padding-top: 200px;
  padding-left: 450px;
}

.table{
  align-content: center;
  padding-top: 100px;
  padding-left: 400px;
  
 
}
.jsontable{
  border-width: 5px;
  border-top:black;
  padding-left: 500px;
  border-bottom: 10px;
  border-left: 10px;
  border-right: 10px;
}

.chem{
  padding-left: 20px;
}

.tablediv{
  padding-left: 200px;
}

.button{
  align-items: center;
  padding-top: 10px;
  padding-left: 0px;

}
.button2{
  align-items: center;
  padding-top: 50px;
  padding-left: 650px;
}
.result{
 align-content: center;
 padding-left: 700px;
}

.form{
  margin-left: 25;
}

.form-submit-button {
  background: #1976d2;
  color: white;
  border-style: outset;
  border-color: #1976d2;
  height: 37px;
  width: 100px;
  font: bold15px arial,sans-serif;
  text-shadow: none;
  border-radius: 8px;
  }


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.typo{
  padding-left: 650px;
}

.links{
  padding-left: 600px;
  color: white;
}

.links2{
  color: white;
  padding-left: 30px;
  font-size: large;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Result {
 
  width: 100%;
  height: auto;
  
  
  justify-content: center;
  align-items: center;
}
  
.table {
 
  
  justify-content: center;
  border-top: 2px solid darkblue;
  padding-left: 20px;
  padding-top: 10px;
  border-bottom: 2px solid  darkblue;
  border-left: 2px solid  darkblue;
  border-right: 2px solid darkblue;
  width: 50%;
}
.table1{
  border-width: 2px;
  border-color: #282c34;
  border-style: solid;
 
  
  justify-content: center;
  
  padding-left: 20px;
  padding-top: 10px;

  width: 50%;
}

 
  
.td {
  text-align: center;
  border: 2px;
  border-color: #282c34;

}

.tr {
  text-align: center;
  border: 2px;
  border-color: #282c34;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
